


.container {height: 100vh; width: 100vw;
    background-image: url("background.png"); background-size: 85%; background-repeat: no-repeat; background-position: right;}


    .stripe {style:flex; margin-left: 5vw;}
.aside{padding-top: 50px;}

.sidebarx{width: 40px; height: 100vh; position: fixed; margin-top: -10vh;}
.sm1{width: 40px; height: 40px; background-image: url("facebook.png"); background-size: 70%; background-repeat: no-repeat;
    position: fixed; top: 38vh;}
    .sm2{width: 40px;height: 40px; background-image: url("instagram.png"); margin-top: 5px; background-size: 70%; 
        background-repeat: no-repeat; position: fixed; top: 42vh;}
.sm3{width: 40px;height: 40px; background-image: url("twitter.png"); background-size: 70%;
    background-repeat: no-repeat; position: fixed; top: 48vh; margin-top: 5px;}
.sm4{width: 40px; height: 40px; background-image: url("linkedin.png"); background-size: 70%;
    background-repeat: no-repeat; position: fixed; top: 54vh; margin-top: 5px;}

.menu-icon{height: 70px; width: 70px; background-image: url("menu.png"); background-size: 80%; background-repeat: no-repeat; 
    position: fixed; margin-top: 35px; margin-left: 90vw; cursor: pointer;}


header{width: 30vw; height: 17vh; 
    color: black; 
    font-size: 21px; font-family: Arial, Helvetica, sans-serif; 
   
    margin-left: 5vw; margin-top: 17vh;}
    


.tiny{width: 20px; height: 20px; 
    background-color: darkorange; border: 5px darkorange; 
    margin-left: 5vw; margin-top: 42px; position: relative;}
    

section {width: 23vw; height: 17vh; 
        color: black; font-size: 20px; font-family: Arial; 
        margin-left: 5vw; margin-top: 3vh;}

        button {width: 15vw; height: 10vh; font-size: 15px; font-weight: bold; cursor: pointer;
            border: solid 3px darkorange; background-color: white;
            margin-left: 5vw; margin-top: 1vh;}

.spacer{height: 20vh;}


.container-2{height: 100vh; width: 100vw; background-image: url("about.png"); 
    background-repeat: no-repeat; background-size: 60%;}

    .title2 {width: 500px; 
        color: black; 
        font-size: 45px; font-family: Arial; font-weight: bold; text-align: right; position: relative; left: 59vw; top: 10vh;
        }

    .sectiona {width: 500px; height: 170px; color: rgb(87, 85, 85); border: solid white;
            font-size: 15px; font-family: Arial; text-align: right; padding-right: 5px; position: relative; left: 59vw; top: 15vh;}

    .footer2{height: 100px; width: 500px; border: solid 3px white; font-size: 27px; font-weight: bold; text-align: right; padding-right: 5px;
        font-family: Arial; font-style: italic; position: relative; left: 59vw; top: 19vh}

        .subheading{width: 500px; height: 100px; 
             text-align: right; font-weight: bolder; color: rgb(114, 114, 114); 
            font-family: Arial; font-size: 24px; font-style: italic; position: relative; left: 59vw; top: 18vh;}

        .tiny2{width: 20px; height: 20px; 
            background-color: darkorange; border: 5px darkorange; 
            position: relative; left: 90vw; top: 14vh; margin-top: 20px;}

            .lines{width: 20px; height: 1px; border: solid 1px darkorange; position: relative; left: 87vw; top: 15vh;}

.spacer2{display: flex;}


.bulb{width: 20vw; height: 30vh; margin-left: auto; background-image: url("pic-1.png"); 
    background-repeat: no-repeat; background-size: 35%; background-position: top center;}

    .Learn-Text{width: 20vw; padding-top: 12vh; text-align: center; color:grey; font-family: sans-serif; font-weight: lighter;}

.brain{width: 20vw; height: 30vh; margin: auto; background-image: url("pic-2.png"); 
    background-repeat: no-repeat; background-size: 35%; background-position: top center;}
    .Brain-Text{width: 20vw; padding-top: 12vh; color: gray; text-align: center; font-family: sans-serif; font-weight: lighter;}

.rocket{width: 20vw; height: 30vh; margin-right: auto; background-image: url("pic-3.png");
    background-repeat: no-repeat; background-size: 35%; background-position: top center;}
    .Rocket-Text{width: 20vw; padding-top: 12vh; color: grey; text-align: center; font-family: sans-serif; font-weight: lighter;}

    .Mid-section{display: flex;}

    .line{height: 50px; width: 100px; margin-top: 50px; margin-left: auto; margin-bottom: 40px;}

    .small-box{height: 10px; width: 10px;
        margin-left: 90px; margin-top: 20px; background-color: darkorange;}
.small-line{width: 60px; border: solid 1px darkorange; margin-left: 38px; margin-top: 5px;}

.smaller-line{ width: 50px; border: solid 1px darkorange; margin-left: 48px; margin-top: 5px;}

    .common-button{width: 250px; height: 55px; margin-top: 50px; margin-right: auto; margin-bottom: 40px;}

  .writing {width: 450px; height: 55px; margin-left: 50px}


    .courses{height: 100vh; width: 100vw;}

    .course-content{display: flex;}

    .contents-boxes{height: 100vh; width: 40vw;}

.Course-title{width: 350px; height: 105px; margin-top: 220px; color: black; font-family: sans-serif;
font-weight: bold; font-size: 35px; padding-top: 15px;}

.another-small-square{width: 15px; height: 15px; background-color: darkorange; margin-top: 20px;}

.Course-blurb {width: 340px; height: 100px; margin-top: 20px; color: grey; 
    font-family: sans-serif; font-size: 16px;}

    .common-button4{margin-top: 30px; margin-left: 0px; height: 60px; width: 120;}

.another-small-square-plus-lines{width: 100px; height: 50px; margin-top: 10px;}
.Tiny-Tiny-Square{width: 20px; height: 20px; background-color: darkorange;}
.Line6{width: 70px; border: solid 1px darkorange; margin-top: 5px;}
.Line7{width: 50px; border: solid 1px darkorange; margin-top: 5px;}






    .image-box{height: 60vh; width: 50vw; margin-top: 30vh;
        background-image: url("course.png"); background-size: 90%;
        background-repeat: no-repeat;}

.btn-box{display: flex; margin-left: -78px;}

    .offer{width: 100vw; height: 100vh;}

    .offer-content{display: flex;}

    .offer-pic{width: 50vw; height: 100vh; background-image: url("offer.png"); background-repeat: no-repeat; background-size: 100%;
     position: relative; left: -5vw;}

    .offer-text{width: 500px; height: 100vh; margin-left: 30px;} 
    
    .offer-header{width: 490px; height: 100px; margin-top: 150px; margin-left: 10px; 
        color: black; font-family: sans-serif; font-size: 40px; text-align: right; font-weight: bold;}

        .weeny-box{width: 15px; height: 15px; background-color: darkorange; margin-left: 485px; margin-top: 10px;}

        .offer-body-text{width: 510px;height: 100px; margin-top: 10px; color: grey; 
            font-family: sans-serif; font-size: 17px; text-align: right; margin-left: -10px;}

            .offer-button{width: 200px; height: 60px; margin-top: 15px; margin-left: 300px;}

            .teeny-weeny-box{width: 100px; height: 100px; margin-top: 15px; margin-left: 400px;}
            .weeny-teeny-box{width: 20px; height: 20px; background-color: darkorange; margin-left: 80px;}
            .line5{width: 90px;  border: solid 2px darkorange; margin-left: 10px; margin-top: 15px;}
            .line6{width: 60px; border: solid 2px darkorange; margin-left: 40px; margin-top: 15px;}




            
            .sign-up-page{display: flex;}

            .sign-up-text{width: 500px; height: 90vh; margin-left: -5vw;}
            .sign-up-header{width: 420px; height: 100px; margin-top: 100px; margin-left: 40px; color: black;
            font-family: sans-serif; font-weight: bold; text-align: left; font-size: 35px;}
            .enter-name{ width: 454px; height: 34px; border: solid 3px darkorange; margin-left: 40px; margin-top: 20px; 
                font-size: 15px; font-family: sans-serif; padding-top: 12px; padding-left: 4px;}
.enter-email{width: 454px; height: 34px; border: solid 3px darkorange; margin-left: 40px; margin-top: 20px; 
    font-size: 15px; font-family: sans-serif; padding-top: 12px; padding-left: 4px;}
    .password{width: 454px; height: 34px; border: solid 3px darkorange; margin-left: 40px; margin-top: 20px; 
        font-size: 15px; font-family: sans-serif; padding-top: 12px; padding-left: 4px;}






        
.push-lines{display: flex;}
.common-button2{margin-left: 40px;}
.common-button3{margin-right: 0px;}
.more-pink-spots{width: 80px; height: 80px; margin-top: 10px;}
.pink-square{width: 15px; height: 15px; background-color: darkorange;}
.line7{width: 70px; height: 1px; border: solid 1px darkorange; margin-top: 10px; background-color: darkorange;}
.line8{width: 50px; height: 1px; border: solid 1px darkorange; margin-top: 10px; background-color: darkorange;}


.sign-up-pic{margin-left: 650px; width: 50vw; height: 90vh;margin-top: -70vh;
    background-image: url("contact.png"); background-repeat: no-repeat; background-size: 100%;}



    .long-line{height: 1px; width: 100vw; border: solid 1px darkorange;
         background-color: darkorange;}

         .footer{height: 200px; width: 100vw;}

         .footer9{display: flex;}

        .foot1{width: 140px; height: 100px; margin-left: 0px; margin-top: 20px;}
.foot1u{width: 140px; height: 45px; color: darkorange; font-size: 16px; text-align: left; padding-top: 7px;}
.foot1l{width: 140px; height: 45px; color: grey; font-size: 13px; text-align: left; padding-top: 3px;}

        .foot2{width: 140px; height: 100px; margin-left: 55px; margin-top: 20px;}
.foot2u{width: 140px; height: 45px; color: darkorange; font-size: 16px; text-align: left; padding-top: 7px;}
.foot2l{width: 140px; height: 45px; color: grey; font-size: 13px; text-align: left; padding-top: 3px;}


        .foot3{width: 140px; height: 100px; margin-left: 55px; margin-top: 20px;}
        .foot3u{width: 140px; height: 45px; color: darkorange; font-size: 16px; text-align: left; padding-top: 7px;}
        .foot3l{width: 140px; height: 45px; color: grey; font-size: 13px; text-align: left; padding-top: 3px;}

        .foot4{width: 140px; height: 100px; margin-left: 55px;margin-top: 20px;}

        .foot4u{width: 140px; height: 45px; color: darkorange; font-size: 16px; text-align: left; padding-top: 7px;}
.foot4l{width: 140px; height: 45px; color: grey; font-size: 13px; text-align: left; padding-top: 3px;}

.foot5{width: 200px; height: 100px; margin-left: 85px; margin-top: 20px; font-family: sans-serif;
font-size: 14px; text-align: left;}


.foot6{width: 180px; height: 140px; margin-left: 55px;}
.log-again{width: 180px; height:75px; background-image: url("logo.png"); background-repeat: no-repeat; 
    background-size: 70%; margin-left: 15%;}
.common-button-last{width: 140px; height: 50px; margin-left: 20px; cursor: pointer;}
          

form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid darkorange;
  }
  * {
    margin: 0;
      margin-bottom: 0px;
    padding: 0;
    font-family: sans-serif;
