
.body { margin: 0; padding: 0; }


.container{width: 100vw; height: 100vh; border: solid 1px black;
     background-image: url("WestBayCrop.jpg"); background-repeat: no-repeat; background-size: 100%;}

.button-strip{display: flex;}

.squar {height: 23px; width: 70px; border: solid 2px rgba(248, 208, 208, 0.411); margin-left: 20px;margin-right: 10px; margin-top: 20px; 
    border-radius: 5px; color: antiquewhite; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 10px; text-align: center; padding-top: 7px; cursor: pointer;}
.contact_btn {height: 23px; width: 70px; border: solid 2px rgba(248, 208, 208, 0.411); margin-left: 20px;margin-right: 10px; margin-top: 20px; 
  border-radius: 5px; color: antiquewhite; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
font-size: 10px; text-align: center; padding-top: 7px; cursor: pointer;}

.name{height: auto; border: solid 1px black;
color: rgb(247, 231, 231); font-family: 'Times New Roman', Times, serif; font-size: 50px; text-align: center;
padding: 15vh 35vw 15vh 35vw
}

.mid-bit{display: flex;}

.about-dom{width: 50vw; height: 700px; border: solid 1px black;}

.text-about-dom-head{width: auto; height: auto; border: solid 1px black; 
    color: rgba(89, 89, 179, 0.897); font-size: 70px; font-family: "Fraunces" serif; padding: 50px; text-align: center; padding-top: 70px;}


.text-about-dom-story{width: auto; height: auto; border: solid 1px black; 
color: rgba(89, 89, 179, 0.897); font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;}

.btn-1{padding-top: 5px; position: relative; top: 70px; left: 300px;
    background-color: rgba(95, 158, 160, 0.486); border: solid 1px rgba(98, 202, 202, 0.5); border-radius: 5px; 
color: aliceblue; font-size: 25px;font-family: 'Times New Roman', Times, serif; text-align: center; cursor: pointer;}


.pic-dom{width: 50vw; height: 700px; border: solid 1px black; background-image: url("MeandnoBear.jpg"); 
    background-repeat: no-repeat; background-size: 105%;}

    .mid-bit-2{display: flex; margin: 0;}
    .mid-bit2-pic{width: 50vw; height: 700px; border: solid 1px black; background-image: url("MushtoMagic4.png"); 
        background-repeat: no-repeat; background-size: 100%;}

        .mid-bit-2-about{width: 50vw; height: 700px; border: solid 1px black;}
        .mid-bit-2-header{width: auto; height: auto; border: solid 1px black; 
            color: rgb(110, 110, 240); font-size: 70px; font-family: "Fraunces" serif; padding: 60px; text-align: center;}
        .mid-bit-2-body{width: auto; height: auto; border: solid 1px black; 
            color: rgb(113, 113, 243); font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
            text-align: center; padding-top: 20px;}

      .mid-bit-3{display: flex; margin: 0;}

      .mid-bit3A{width: 50vw; height: 700px; border: solid 1px black; background-image: url("wallnextdoor.jpg"); 
        background-repeat: no-repeat; background-size: 100%;}
      .mid-bit3B{width: 50vw; height: 700px; border: solid 1px black; background-image: url("Squarepoppies.jpg");
      background-repeat: no-repeat; background-size: 100%;}

      .mid-3-head{width: auto; height: auto; border: solid 1px black; 
        color: rgb(255, 255, 255); font-size: 70px; font-family: "Fraunces" serif; padding: 60px; text-align: center;}
        .mid-3-body{ width: auto; height: auto; border: solid 1px black; 
            color: rgb(255, 255, 255); font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
            text-align: center; padding-top: 20px; margin-top: 50px;}


            .mid-3B-head{width: auto; height: auto; border: solid 1px black; 
              color: rgb(143, 5, 5); font-size: 70px; font-family: "Fraunces" serif; padding-top: 80px; text-align: center;}
            .mid-3B-body{width: auto; height: auto; border: solid 1px black; 
              color: rgb(255, 255, 255); font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
              text-align: center; padding-top: 300px;}

.spacer{width: 100vw; height: 20px; background-color: aqua;}

.Mouse{width: 100vw; height: 900px; background-image: url(Stars_and_Mouse.png); background-repeat: no-repeat; background-size: 100%;}

.mouse-title{height: auto; border: solid 1px red; color: aqua; font-family: 'Times New Roman', Times, serif;
font-size: 65px; padding-top: 15vh; text-align: center;}

.mouse-body{ height: auto; border: solid 1px red; color: aqua; font-family: 'Times New Roman', Times, serif; 
font-size: 30px; padding-top: 10vh; padding-left: 100px; padding-right: 100px; text-align: center;}

 .book-title{display: flex; padding-top: 30px;}


      .am-butts{display: flex; 
        height: 50px; border: solid 1px yellow; justify-content: center; align-items: center;}


      .btn-btn-primary{width: 170px; height: 25px; color: #23303e; border: solid 1px rgb(106, 178, 245); border-radius: 4px; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; 
        font-size: 15px; padding-top: 5px; background-color: #b4d9f5; margin: 20px 170px 20px 170px;}


        .footer{width: 100vw; height: 100vh; background-image: url("Earthsun.jpg"); background-repeat: no-repeat; background-size: 100%;}


        .foot-copy {width: 800px; height: 200px; border: solid 1px snow; color: #b4d9f5; font-family: 'Lucida Sans';
        text-align: center; font-size: 35px;
        padding-top: 450px; margin-left: 350px;}